@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root{
  --brown: #bf9663;
  --caqui: #bf9c5a;
  --grey: #bfcfd9;
  --grey-medium: #a3b2bf;
  --grey-dark: #536473;
}
* {
  font-family: "Roboto Mono", monospace !important;
  font-size: 14px;
}
.bg-brown {
  background-color: var(--brown)  !important;
}
.bg-caqui {
  background-color: var(--caqui) !important;
}
.bg-grey {
  background-color: var(--grey)  !important;
}
.bg-grey-medium {
  background-color: var(--grey-medium) !important;
}
.bg-grey-dark {
  background-color: var(--grey-dark) !important;
}
.text-brown {
  color: var(--brown) !important;
}
.text-caqui {
  color: var(--caqui) !important;
}
.text-grey {
  color: var(--grey) !important;
}
.text-grey-medium {
  color: var(--grey-medium) !important;
}
.text-grey-dark {
  color: var(--grey-dark) !important;
}
.action:hover, .activa:active{
  color: var(--grey-dark) !important;
  background-color: white;
}
a.activa{
  border-bottom: 3px solid;
  border-bottom-color: var(--grey);
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
}
.question-answer__accordion{
  border-bottom: 1px solid var(--brown);
}
.active img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.questions__accordions {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question-answer__accordion > .answer {
  display: none;
}

.question img {
  align-self: center;
  width: 15px;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
}
.active h2{
  font-weight: 700;
}
.jumbotron-image{
  background: url(../img/cabezeraNoticias.jpg) no-repeat;
  height: 250px;
  background-size: cover;
  margin-bottom: 40px;
}
.jumbotron-image h2{
  font-size: 4rem;
}
