@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Roboto Mono", monospace !important;
}
body{
  height: 100vh;
  width: 100vw;
}
main{
  height: 80vh;
  width: 100vw;
}
.bg-brown {
  background-color: #bf9663 !important;
}
.bg-caqui {
  background-color: #bf9c5a !important;
}
.bg-grey {
  background-color: #bfcfd9 !important;
}
.bg-grey-medium {
  background-color: #a3b2bf !important;
}
.bg-grey-dark {
  background-color: #536473 !important;
}
.text-brown {
  color: #bf9663 !important;
}
.text-caqui {
  color: #bf9c5a !important;
}
.text-grey {
  color: #bfcfd9 !important;
}
.text-grey-medium {
  color: #a3b2bf !important;
}
.text-grey-dark {
  color: #536473 !important;
}